body {
  min-width: 500px;
  background: #fAfAfA;
}

.empty {
  font: 12px/1.5 Helvetica,Verdana, sans-serif;
  color:#808080;
}

#youtube-url {
  color:#06c;
}
 
#youtube-url:hover {
  cursor: pointer;
  color:#f03838;
}

#clear-button {
    position: absolute;
    right: 9px;
    top:13px;
    background-color:#690000;
    
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    
    border:1px solid #9E2607;
    
    display:inline-block;
    color:#ffffff;
    font-family: "Open Sans", "Segoe UI", Arial, sans-serif;
    font-size:13px;
    font-weight:bold;
    padding:4px 20px 20px;
    height:27px;
    text-decoration:none;
    
}
#clear-button:hover {
    background-color:#BD5252;
}

.vid-title:hover {
  color:#f03838;
}

.exclude {
  padding-top: 3px;
  padding-right: 2px;
  float: right;
}

.delete {
  float:right;
  padding-top:3px;
  padding-right:2px;
  display:none;
}

#insert-icon:hover{
  color: #f03838;
}

.delete:hover {
  color: #f03838;
}

.current {
  font-weight: bold;
}


/*NEW CSS LIST*/
h2 {
  font-family: Helvetica, sans-serif;
  color: #4E4E4E;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li, li:before {
  transition: all .4s;
}
div {
  max-width: 500px;
}
div:hover li {
  opacity: .4;
}
li {
  position: relative;
  display: block;
  max-width: 500px;
  padding: 10px 20px 10px 15px;
  box-sizing: border-box;
  color: #777;
  background: #fAfAfA;
  text-decoration: none;
  font-family: "Open Sans", "Segoe UI", Arial, sans-serif;
  font-size: 12px;
  word-wrap:break-word
}
li:before {
  content: "";
  position: absolute;
  left:0; bottom:0; top:0;
  width: 10px;
  background: #BD5252;/*#9A7F7F*/
}
li:nth-child(even):before {
  background: #690000;
}
li + li {
  border-top: 2px solid #ededed;
}
div li:hover,
div li:focus {
  opacity: 1;
  padding-left: 25px;
}
div li:hover:before,
div li:focus:before {
  width: 20px;
}

li a {
  text-decoration: none;
  font-family: "Open Sans", "Segoe UI", Arial, sans-serif;
  color: #777;
}
