body {
  min-width: 500px;
}

.empty {
  font: 12px/1.5 Helvetica,Verdana, sans-serif;
  color:#808080;
}

/*div {
  width: 400px;
}*/
 

#clear-button {
  -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
  box-shadow:inset 0px 1px 0px 0px #f5978e;
  
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
  background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
  
  background-color:#f24537;
  
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  
  border:1px solid #d02718;
  
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  
  text-shadow:0px 1px 0px #810e05;
  
}
#clear-button:hover {
  
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
  background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);

  background-color:#c62d1f;
}

h2 {
  font: 400 18px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  width: 100;
}
 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
li {
  font: 200 12px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
li:last-child {
  border: none;
}

.current {
  font-weight: bold;
}

li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 500;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

.vid-title:hover {
  color:#f03838;
}

.exclude {
  padding-top: 3px;
  padding-right: 2px;
  float: right;
}
 
li a:hover {
  font-size: 14px;
  background: #f6f6f6;
}

.delete {
  float:right;
  padding-top:3px;
  padding-right:2px;
  display:none;
}

.delete:hover {
  color: #f03838;
}